:root{
    /* Colors */
    --color-a: #191919;
    --color-b: #FFFFFF;
    --color-c: #1D4ED8;
    --color-d: #606060;
    --color-e: #272727;
    --color-f: #a0a0a0;

    /* General Spacing */
    --general-margin: 15px;
    --general-padding: 15px;
    --general-border-radius: 6px;
    --general-height: 30px;

    /* Common Spacing */
    --common-margin: 30px;
    --common-padding: 30px;
    --common-gap: 30px;
    --common-length: 30px;

    /* Image Diemnsions */
    --image-length-1: 50px;
    --image-length-2: 50px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--color-a);
}
html,
body {
    height: 100vh;
    margin: 0;
}
/* /////////////////////////////////////////////////////// */
/* Header General Style */
header{
    padding: var(--general-padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* /////////////////////////////////////////////////////// */
/* Header Content style */
#header-logo{
    height: 50px;
}
.menu-icon{
    width: 50px;
    height: 50px;
}
.menu-icon path{
    fill: var(--color-b);
    stroke: var(--color-b);
}
/* /////////////////////////////////////////////////////// */
/* Main General Style */
main{
    padding: var(--general-padding);
    display: grid;
    grid-template-areas:
    "presentation" 
    "description"
    "skills" 
    "education"
    "projects";
    grid-gap: var(--common-gap);
}
#presentation{grid-area: presentation;}
#description{grid-area: description;}
#skills{grid-area: skills;}
#education{grid-area: education;}
#projects{grid-area: projects;}

/*550px*/
@media (min-width: 550px){
    main{
        grid-template-areas:
        "presentation presentation"
        "description description"
        "skills education"
        "projects projects";
    }
}

.hi{
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    color: var(--color-b);
    font-weight: bold;
}
.name,
.different{
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    color: var(--color-c);
    font-weight: bold;
}
.what{
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    color: var(--color-b);
    text-align: justify;
}
.introduction{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    color: var(--color-d);
    text-align: justify;
}
.different2{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    color: var(--color-c);
}

/* /////////////////////////////////////////////////////// */
/* Main Content style */
.dropdown{
    width: 100%;
    background-color: var(--color-a);
    /*border-radius: var(--general-border-radius);*/
    overflow: hidden;
    position: relative;
}
.dropdown-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: var(--general-padding);
    border-radius: var(--general-border-radius);
    padding-inline-end: 6px;
    background-color: var(--color-c);
    color: var(--color-a);
    height: var(--general-height);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border: 3px solid var(--color-c);
}
.dropdown-text{
    font-family: "Roboto Mono", monospace;
}
.dropdown-arrow{
    color: var(--color-c);
}
.dropdown-trapezoid{
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background-color: var(--color-a);
    clip-path: polygon(100% 0, 100% 100%, 60% 100%, 0% 0%);
    transition: clip-path 0.5s ease;
    /*border: 1px solid crimson;*/
}
.dropdown.open .dropdown-trapezoid{
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 60% 0%);
}
.dropdown-header .dropdown-arrow{
    transition: transform 0.5s ease;
    position: relative;
    z-index: 1;
    margin-right: 0px;
}
.dropdown-content{
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    height: 0;
    transition: transform 0.5s ease, opacity 0.5s ease, height 0.5s ease;
}
.dropdown.open .dropdown-content{
    transform: scaleY(1);
    opacity: 1;
    height: auto;
}
.dropdown.open .dropdown-arrow{
    transform: rotate(180deg);
}


/*
.carousel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
*/
.carousel-container{
    /*border: 1px solid chartreuse;*/
    width: 100%;
}
.horizontal-scroll-text {
    display: flex;
    align-items: center;
    justify-content: flex-start; /*Horizontal*/
    /*height: var(--general-height);*/ /* Ensure it takes full container height */
    width: 100%;
    /*border: 1px solid crimson;*/
    margin-top: var(--general-margin);
    font-size: 1.5rem;
    color: var(--color-b);
    font-weight: 500;
}
.carousel{
    display: flex;
    overflow-x: auto;
    gap: var(--general-height);
    /*border: 1px solid crimson;*/
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: var(--general-margin);
    align-items: center;
}
.carousel::webkit-scrollbar{
    display: none;
}
.icon{
    min-width: 60px;
    height: 60px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    /*border: 1px solid var(--color-c);*/
}
#gemini{
    height: 60px;
    min-width: auto;
}
#colab{
    min-width: 60px;
    max-width: 60px;
    height: auto;
}
.icon:hover, .icon:focus, .icon:active {
    filter: grayscale(0%);
}
.progress-bar{
    width: 100%;
    height: 4px;
    background-color: var(--color-d);
    position: relative;
    border-radius: 2px;
    margin-top: var(--general-margin);
}
.progress{
    height: 100%;
    background-color: var(--color-c);
    width: 0%;
    border-radius: 2px;
}



.school-section{
    margin-top: var(--general-margin);
    display: flex;
    flex-direction: row;
    gap: var(--general-margin);
    width: 100%;
}

.education-text {
    display: flex;
    align-items: center;
    justify-content: flex-start; /*Horizontal*/
    /*height: var(--general-height);*/ /* Ensure it takes full container height */
    width: 100%;
    /*border: 1px solid crimson;*/
    /*margin-top: var(--general-margin);*/
    font-size: 1.5rem;
    /*color: var(--color-c);*/
    /*font-weight: 700;*/
}
.ed1{
    color: var(--color-b);
    font-weight: 500;
}
.ed2{
    color: var(--color-d);
    font-weight: 500;
}
.ed3{
    color: var(--color-c);
    font-weight: 500;
}

.school-text{
    width: 100%;
}
.project-name{
    display: flex;
    flex-direction: row;
    width: 100%;
    /*border: 1px solid crimson;*/
    padding-inline-end: 9px;
}
.project-arrow{
    color: var(--color-b);
    transition: transform 0.5s ease;
    position: relative;
    z-index: 1;
}








.dropdown-arrow{
    color: var(--color-c);
}
.dropdown-header .dropdown-arrow{
    transition: transform 0.5s ease;
    position: relative;
    z-index: 1;
    margin-right: 0px;
}
.dropdown.open .dropdown-arrow{
    transform: rotate(180deg);
}








.project-details {
    display: block;
    color: var(--color-d);
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease, height 0.5s ease;
    text-align: justify;
}

.project-details.visible {
    transform: scaleY(1);
    opacity: 1;
    height: auto;
}

.project-arrow {
    cursor: pointer;
    display: inline-block;
    transition: transform 0.5s ease;
}

.project-arrow.rotated {
    transform: rotate(180deg);
}

.blue{
    color: var(--color-c);
}
/* /////////////////////////////////////////////////////// */

